:root{
    --darker: #1f2937;
    --dark: #374151;
    --darkest: #111827;
    --grey: #6b7280;
    --pink: #ec4899;
    --purple: #8b5cf6;
    --light: white;
}


body{
    
    min-height: 100vh;
    background-color: var(--dark)

}
#new-task-submit{
    border-radius: 1rem;
    font-size: 15px;
    font-weight: 70;  
    cursor: pointer;
    transition: 0.5s;
    margin-right: 1rem;
    background-color: rgb(207, 192, 165);
    padding: 1%;
}#date, #new-task-input{
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    background-color: rgb(134, 132, 127);
    height: 1.5rem;
    padding: 1%;
    border: none;
    width: auto;
    margin: 1%;
   
}

#new-task-input::placeholder{
    color: var(--darkest); 
      
}
main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

 #List{
   background-color: rgb(167, 153, 129);   
    padding: 0.5rem;
    box-shadow: 0 30px 30px rgba(0,0,0,0.3);
    border-radius: 1rem;
    font-size: 1.5rem;
}
p{
margin-left: 2rem;
}

#title{
    color: rgb(167, 153, 129);
    margin-left: 25rem;
    font-size: 2rem;
}
#paragraph{
    margin-left: 2rem; 
    color: #e6dddd;
    font-size: 15px;
}
#hint{
    color: #74716d;
}
#task{
   color: #e6dddd;
}
