:root{
    --darker: #1f2937;
    --dark: #374151;
    --darkest: #111827;
    --grey: #6b7280;
    --pink: #ec4899;
    --purple: #8b5cf6;
    --light: white;
}

body{
    
    min-height: 100vh;
    background-color: rgb(75, 71, 71)

}

/* header{

    font-size: 2.5rem;
    font-weight: 300;
    color:var(--grey);
    margin-bottom: 1rem;
} */


#new-task-input{
    flex: 1%;
    background-color: var(--darker);
    border-radius: 1rem;
    color: var(--light);
    font-size: 1rem;
    padding-top: 1rem;
   padding-left: 4rem;
   padding-right: 3rem;
   margin-left: 2rem;
}
#new-task-submit{
    color: var(--pink);
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 70;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 1rem;
    opacity: 0.8s;
   
    padding-top: 0.5rem;

}

#new-task-input::placeholder{
    color: var(--grey);   
}
main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

 #List{
   background-color: rgb(182, 177, 168);
    border-radius: 0.5rem;
    padding-bottom: 3rem;
    box-shadow: 0 30px 30px rgba(0,0,0,0.3);
    margin-bottom: 2rem;
    border-radius: 1rem;
    margin-left: 1rem;
}
li{
margin-left: 2rem;
}
.date{
    background-color: var(--darker);
    border-radius: 1rem;
    color: var(--light);
    font-size: 1rem;
    margin-top: 1rem;
    margin-top: 4rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
cursor: pointer;

}
#title{
    color: #ddda10;
}
#paragraph{
    margin-left: 2rem; 
   
    margin-left: 2rem;
}

